.main {
  width: 32vw;
}

.container {
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 32vw;

  h1 {
    color: var(--main);
    font-size: 30px;
    text-align: center;
  }
}

.languages {
  width: 100%;
  text-align: center;
  margin: 20px 0px;

  h3 {
    padding: 20px 0px;
    font-size: 25px;
    width: 200px;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer;
  }

  .active {
    background-color: var(--purple-light);
    color: var(--purple);
  }
}
